<!doctype html>
<html lang="fr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>Smooth & fluid transtion between your website's pages</title>
    <meta name="application-name" content="slingshot.io" />
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" charset="utf-8">
</head>

<body>
    <div id="app">
        <section class="push intro">
            <h1>Slingshot Project !!!</h1>
        </section>
    </div>
    <script src="/static/js/index.js" charset="utf-8"></script>
</body>

</html>