<!doctype html>
<html lang="fr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>Smooth & fluid transtion between your website's pages</title>
    <meta name="application-name" content="slingshot.io" />
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="/Slingshot/dist/static/css/style.css" charset="utf-8">
</head>

<body>
    <div id="app">
        <section class="push intro">
            <div class="wrapper">
                <div class="block">
                    <div class="block-centred">
                        <img class="slingshot reverse" src="../static/img/slingshot.png">
                        <h1 class="common-title">Nice <strong>!</strong></h1>
                        <p class="common-copy">
                            This is page 2, you've successfully changed your page with a badass transition :)
                        </p>
                        <a class="common-button delay" href="/Slingshot/dist/templates/base.html">Return home</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="push instruction">
            <div class="wrapper">
                <article class="step">
                    <h2 class="common-subtitle inline">Install</h2>
                    <p class="common-copy small inline">Using NPM, install Jump.js, and add it to your package.json dependencies.</p>
                </article>
                <article class="step">
                    <h2 class="common-subtitle inline">Instantiate</h2>
                    <p class="common-copy small inline">Using NPM, install Jump.js, and add it to your package.json dependencies.</p>
                </article>
                <article class="step">
                    <h2 class="common-subtitle inline">Target</h2>
                    <p class="common-copy small inline">Using NPM, install Jump.js, and add it to your package.json dependencies.</p>
                </article>
                <article class="step">
                    <h2 class="common-subtitle inline">Install</h2>
                    <p class="common-copy small inline">Using NPM, install Jump.js, and add it to your package.json dependencies.</p>
                </article>
            </div>
        </section>
        <footer>
            <div class="wrapper">
                <ul>
                    <li>Licence : <strong>MIT</strong></li>
                    <li>made by : <strong><a href="https://github.com/QuentinDanneville">Quentin Danneville</strong></a></li>
                    <li>Licence : <strong>MIT</strong></li>
                </ul>
            </div>
        </footer>
    </div>
    <script src="../static/js/index.js" charset="utf-8"></script>
</body>

</html>